:root {
    --corduroy-50: #f6f7f7;
    --corduroy-100: #e0e7e2;
    --corduroy-200: #c1cec6;
    --corduroy-300: #9bada4;
    --corduroy-400: #758c81;
    --corduroy-500: #5e756a;
    --corduroy-600: #475a51;
    --corduroy-700: #3c4943;
    --corduroy-800: #323d38;
    --corduroy-900: #2d3431;
    --corduroy-950: #171c1a;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: repeating-linear-gradient(to top, var(--corduroy-200), var(--corduroy-400), var(--corduroy-600));
}

#toggleBtn {
    display: none;
    position: absolute;
    top: 10px;
    left: 235px;
    background-color: var(--corduroy-800); /* Cor de fundo do botão */
    color: var(--corduroy-50);
    border: none;
    cursor: pointer;
    z-index: 9999;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.sidebar {
    background-image: linear-gradient(to right, var(--corduroy-900), var(--corduroy-700));
    color: var(--corduroy-50);
    width: 250px;
    position: fixed;
    top: 0;
    left: 0px;
    height: 100vh;
    padding-top: 50px;
    z-index: 1000;
    transition: transform 1.8s ease;
    overflow-y: auto;
}

#nametitle {
    margin-top: 15px;
    margin-left: 20px;
    font-size: medium;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar img {
    width: 210px;
    height: 210px;
    margin-left: 20px;
    margin-top: -40px;
    border-radius: 50px;
}

.sidebar ul li {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 2px solid var(--corduroy-50);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--corduroy-50);
}

header {
    background-image: linear-gradient(to right, var(--corduroy-900), var(--corduroy-700));
    padding: 10px;
    text-align: center;
    margin-left: 250px;
    border-radius: 0px 0px 18px 18px;
    color: var(--corduroy-50);
}
p {
    font-size: 1.5rem; /* Aumenta o tamanho da fonte */
    line-height: 1.6; /* Ajusta o espaçamento entre as linhas */
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--corduroy-50);
    font-weight: bold;
    border: 2px solid var(--corduroy-50);
    border-radius: 12px;
    padding: 10px;
}

div {
    border: 2px solid var(--corduroy-900);
    margin-bottom: 5px;
    border-radius: 10px;
}
div.nesteddiv {
    border: 2px solid var(--corduroy-900);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 10px;  
}
div p {
    align-items: center;
    margin-left: 50px;
}

h2 {
    margin-left: 5px;
    text-decoration: underline;
}

h3, h4 {
    margin-left: 10px;
}

.content {
    padding: 20px;
}
.content > div {
    margin-bottom: 20px; /* Adiciona espaço entre as divs */
}

section.content, footer {
    margin-left: 250px;
    margin-bottom: -14px;
}

footer {
    border-radius: 18px 18px 0px 0px;
    margin-left: 250px;
    padding: 20px;
    background-image: linear-gradient(to right, var(--corduroy-900), var(--corduroy-700));
    color: var(--corduroy-50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

footer ul li {
    margin-right: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--corduroy-50);
}

footer ul li:last-child {
    margin-right: 0;
}

ul {
    list-style-type: none;
}

li:hover {
    color: var(--corduroy-950);
    background-color: var(--corduroy-100);
    cursor: pointer;
}

.contact {
    margin-top: 10px;
}

/* Responsividade para telas menores */
@media only screen and (max-width: 600px) {
    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar ul li {
        width: auto;
        margin: 10px 0;
        margin-bottom: 50px;
    }

    .sidebar img {
        margin: 0 auto;
        display: block;
    }

    header {
        margin-left: 20px;
        margin-right: 20px;
    }

    section.content, footer {
        margin-left: 0;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        list-style: none;
    }

    footer ul li {
        margin: 12px 0;
        padding: 10px;
        border: 2px solid var(--corduroy-50);
        font-size: smaller;
        text-align: center;
    }

    #toggleBtn {
        display: flex;
    }

    .sidebar #open_btn_icon {
        transform: rotate(-180deg);
    }

    .sidebar.open #open_btn_icon {
        transform: none;
    }

    .sidebar.open {
        transition: transform 1.8s ease;
        left: -235px;
    }

    #open_btn_icon {
        transition: transform 0.8s ease;
    }

    #nametitle {
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 20px;
        font-size: medium;
    }
}
